<nb-layout>

    <nb-layout-header fixed>
      <app-header></app-header>
    </nb-layout-header>
  
    <nb-sidebar>
      <app-menu></app-menu>
    </nb-sidebar>
  
    <nb-layout-column>

      <nb-card>
        <nb-card-body>
            <div class="row">
                <div class="col-md-10 offset-md-1">
                  <h4 class="text-center">
                    Cargos
                  </h4>
                </div>
                <div class="col-md-1">
                  <!-- Cadastro de cliente -->
                  <button nbButton ghost status="primary" (click)="openRegister(dialogCreate)"><nb-icon icon="plus-circle-outline"></nb-icon></button>  
                </div>
                          
              </div>
          
          <mat-form-field>
            <mat-label>Filtro</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Grapefy" #input>
          </mat-form-field>
          
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
          
              <!-- ID Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let row"> {{row.id}} </td>
              </ng-container>
          
              
              <!-- Cargo Column -->
              <ng-container matColumnDef="cargo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Cargo </th>
                  <td mat-cell *matCellDef="let row"> {{row.cargo}} </td>
                </ng-container>
                
                <!-- Setor Column -->
                <ng-container matColumnDef="setor">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Setor </th>
                  <td mat-cell *matCellDef="let row"> {{row.setor}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Ações </th>
                  <td mat-cell *matCellDef="let row"> 
                    <!-- Edit de cliente -->
                    <button nbButton ghost status="primary" routerLink="../info-office/{{ row.id }}"> 
                      <nb-icon icon="edit-outline"></nb-icon>
                    </button>  
                    <!-- Delete de cliente -->
                    <button nbButton ghost status="danger" (click)="openDelete(dialog, row.cargo, row.id)" >
                      <nb-icon icon="trash-2-outline"></nb-icon>
                    </button>
                  </td>
                </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">Nenhum resultado encontrado com "{{input.value}}"</td>
              </tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 25,50]"></mat-paginator>
          </div>
          
        </nb-card-body>
      </nb-card>

    </nb-layout-column>
  
  </nb-layout>

  
<!-- Modal Cadastro -->
<ng-template #dialogCreate let-data let-ref="dialogRef" >
  <nb-card>
  <nb-card-header class="text-center"><h5>Cadastro de Cargo</h5></nb-card-header>
    <nb-card-body>
      <form [formGroup]="officeForm" class="step-container">
        <!-- Input Cargo -->
        <div class="form-group" >
          <label class="label">Cargo:</label>
          <input type="text" nbInput class="form-control" placeholder="Cargo" fullWidth formControlName="cargo"
          [ngClass]="{'status-danger':officeForm.controls.cargo.invalid && (officeForm.controls.cargo.dirty || officeForm.controls.cargo.touched),
                                      'status-success':officeForm.controls.cargo.valid}">
          <p class="caption status-danger" *ngIf="officeForm.controls.cargo.invalid && (officeForm.controls.cargo.dirty || officeForm.controls.cargo.touched)">Cargo é obrigatório</p>
        </div>
        <!-- Input Setor -->
        <div class="form-group" >
          <label class="label">Setor:</label>
          <nb-select placeholder="Setor" fullWidth formControlName="setor"
          [ngClass]="{'status-danger':officeForm.controls.setor.invalid && (officeForm.controls.setor.dirty || officeForm.controls.setor.touched),
                      'status-success':officeForm.controls.setor.valid}">
            <nb-option *ngFor="let sector of Sectors" [value]="sector.value">{{ sector.label }}</nb-option>
          </nb-select>
          <p class="caption status-danger" *ngIf="officeForm.controls.setor.invalid && (officeForm.controls.setor.dirty || officeForm.controls.setor.touched)">Setor é obrigatório</p>
        </div>
        <!-- Input Salário Bruto -->
        <div class="form-group" >
          <label class="label">Salário Bruto:</label>
          <input type="text" nbInput class="form-control" placeholder="Salário Bruto" fullWidth formControlName="salario_bruto"
          [ngClass]="{'status-danger':officeForm.controls.salario_bruto.invalid && (officeForm.controls.salario_bruto.dirty || officeForm.controls.salario_bruto.touched),
          'status-success':officeForm.controls.salario_bruto.valid}">
          <p class="caption status-danger" *ngIf="officeForm.controls.salario_bruto.invalid && (officeForm.controls.salario_bruto.dirty || officeForm.controls.salario_bruto.touched)">Salário é obrigatório</p>
        </div>
        <!-- Input Descrição -->
          <label class="label">Descrição:</label>
          <textarea nbInput fullWidth placeholder="Descreva sobre o cargo." formControlName="descricao"></textarea>
      </form>
    </nb-card-body>

    <nb-card-footer class="text-center">
      <div class="row">
        <div class="col">
          <button nbButton (click)="ref.close()">Voltar</button>
        </div>
        <div class="col">
          <button nbButton (click)="ref.close()" status="success">Cadastrar</button>
        </div>  
      </div> 
    </nb-card-footer>
  </nb-card>
</ng-template>


<!-- Modal Delete -->
  <ng-template #dialog let-data let-ref="dialogRef" >
    <nb-card>
      <nb-card-header>Excluir Cargo</nb-card-header>
      <nb-card-body>Deseja excluir o cargo: <strong> {{ selectedOffice }} ({{ selectedId }})</strong>? </nb-card-body>
      <nb-card-footer>
        <div class="row">
          <div class="col">
            <button nbButton (click)="ref.close()">Voltar</button>
          </div>
          <div class="col">
            <button nbButton (click)="ref.close()" status="danger">Excluir</button>
          </div>  
        </div>  
      </nb-card-footer>
    </nb-card>
  </ng-template>

  