<nb-layout>
    <nb-layout-header fixed>
        <app-header></app-header>
    </nb-layout-header>

    <nb-sidebar>
        <app-menu></app-menu>
    </nb-sidebar>

    <nb-layout-column>
        <nb-card>
            <nb-card-header>
              <div class="row my-2">
                <div class="col-md-1">
                  <button nbButton ghost status="primary" routerLink="../administrador"><nb-icon icon="arrow-back-outline"></nb-icon></button>
                </div>
                <div class="col-md-10">
                  <h4 class="text-center">Cadastro de Administrador</h4>
                </div>
              </div>
            </nb-card-header>
            <nb-card-body class="mx-4">
              <nb-stepper orientation="horizontal" [linear]="linearMode">
                <!-- Part 1 -->
                <nb-step [label]="labelOne" [stepControl]="firstForm">
                  <form [formGroup]="firstForm" class="step-container">
                    <ng-template #labelOne>Dados Pessoais</ng-template>
                    <div class="row">
                      <!-- <form [formGroup]="formCustomer"> -->
                      <!-- Input Name -->
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="label">Nome:</label>
                          <input type="text" nbInput class="form-control" placeholder="Nome"
                          formControlName="nome" 
                          [ngClass]="{'status-danger': firstForm.controls.nome.invalid && (firstForm.controls.nome.dirty || firstForm.controls.nome.touched),
                                      'status-success':firstForm.controls.nome.valid}"
                          fullWidth>
                          <p class="caption status-danger" *ngIf="firstForm.controls.nome.invalid && (firstForm.controls.nome.dirty || firstForm.controls.nome.touched)">Nome é obrigatório</p>
                        </div>
                      </div>
                      <!-- Input Email -->
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="label">E-mail:</label>
                          <input type="email" nbInput class="form-control" placeholder="E-mail"
                          formControlName="email"
                          [ngClass]="{'status-danger':firstForm.controls.email.invalid && (firstForm.controls.email.dirty || firstForm.controls.email.touched),
                                      'status-success':firstForm.controls.email.valid}"
                          fullWidth>
                          <p class="caption status-danger" *ngIf="firstForm.controls.email.invalid && (firstForm.controls.email.dirty || firstForm.controls.email.touched)">Email Inválido</p>
                        </div>
                      </div>
                      <!-- Input Fone -->
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="label">Fone:</label>
                          <input type="text" nbInput class="form-control" placeholder="Fone"
                          formControlName="fone" 
                          [ngClass]="{'status-danger':firstForm.controls.fone.invalid && (firstForm.controls.fone.dirty || firstForm.controls.fone.touched),
                                      'status-success':firstForm.controls.fone.valid}"
                          fullWidth>
                          <p class="caption status-danger" *ngIf="firstForm.controls.fone.invalid && (firstForm.controls.fone.dirty || firstForm.controls.fone.touched)">Fone é obrigatório</p>
                        </div>
                      </div>
                      <!-- </form> -->
                    </div>
                    <div class="row d-flex justify-content-center mt-4">
                      <div class="col-2">
                        <button nbButton routerLink="../administrador">Voltar</button>
                      </div>
                      <div class="col-2">
                        <button nbButton nbStepperNext (click)="stepErrorMessage('warning')" status="primary">Avançar</button>
                      </div>
                    </div>
                  </form>
                </nb-step>
                
                <!-- Part 2 -->
                <nb-step [label]="labelTwo">
                  <ng-template #labelTwo>Endereço</ng-template>
                  <div class="row">
                    <div class="col-md-2">
                      <div class="form-group">
                        <label class="label">CEP:</label>
                        <input type="text" nbInput class="form-control" placeholder="CEP" fullWidth [formControl]="cep"
                        [ngClass]="{'status-danger':cep.invalid && (cep.dirty || cep.touched),
                                    'status-success':cep.valid}">
                        <p class="caption status-danger" *ngIf="cep.invalid && (cep.dirty || cep.touched)">CEP é obrigatório</p>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="form-group">
                        <label class="label">Logradouro:</label>
                        <input type="text" nbInput class="form-control" placeholder="Logradouro" fullWidth [formControl]="logradouro"
                        [ngClass]="{'status-danger':logradouro.invalid && (logradouro.dirty || logradouro.touched),
                                    'status-success':logradouro.valid}">
                        <p class="caption status-danger" *ngIf="logradouro.invalid && (logradouro.dirty || logradouro.touched)">Logradouro é obrigatório</p>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group">
                        <label class="label">UF:</label>
                        <input type="text" nbInput class="form-control" placeholder="UF" fullWidth [formControl]="uf"
                        [ngClass]="{'status-danger':uf.invalid && (uf.dirty || uf.touched),
                                    'status-success':uf.valid}">
                        <p class="caption status-danger" *ngIf="uf.invalid && (uf.dirty || uf.touched)">UF é obrigatório</p>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group" >
                        <label class="label">Bairro:</label>
                        <input type="text" nbInput class="form-control" placeholder="Bairro" fullWidth [formControl]="bairro"
                        [ngClass]="{'status-danger':bairro.invalid && (bairro.dirty || bairro.touched),
                                    'status-success':bairro.valid}">
                        <p class="caption status-danger" *ngIf="bairro.invalid && (bairro.dirty || bairro.touched)">Bairro é obrigatório</p>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group"> 
                        <label class="label">Número:</label>
                        <input type="text" nbInput class="form-control" placeholder="Número" fullWidth [formControl]="numero"
                        [ngClass]="{'status-danger':numero.invalid && (numero.dirty || numero.touched),
                                    'status-success':numero.valid}">
                        <p class="caption status-danger" *ngIf="numero.invalid && (numero.dirty || numero.touched)">Número é obrigatório</p>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group"> 
                        <label class="label">Complemento:</label>
                        <input type="text" nbInput class="form-control" placeholder="Complemento" fullWidth [formControl]="complemento">
                      </div>
                    </div>
                  </div>
                  <div class="row d-flex justify-content-center mt-4">
                    <div class="col-2">
                      <button nbButton nbStepperPrevious>Voltar</button>
                    </div>
                    <div class="col-2">
                      <button nbButton nbStepperNext status="primary">Avançar</button>
                    </div>
                  </div>
                </nb-step>

                <!-- Part 3 -->
                <nb-step label="Finalização">
                  <h4 class="text-center text-success">Finalização</h4>
                  <p class="lorem text-center text-success">
                    Acesse a tabela de administrador para mais informações
                  </p>
                  <div class="row d-flex justify-content-center mt-4">
                    <div class="col-2">
                      <button type="submit" nbButton nbStepperNext status="success" fullWidth>Finalizar</button>
                    </div>
                  </div>
                  
                </nb-step>
              </nb-stepper>
            </nb-card-body>
          </nb-card>
    </nb-layout-column>
        
</nb-layout>
