<nb-layout>

    <nb-layout-header fixed>
      <app-header></app-header>
    </nb-layout-header>
  
    <nb-sidebar>
      <app-menu></app-menu>
    </nb-sidebar>
  
    <nb-layout-column>

          <nb-card>
            <nb-card-header>
              <div class="row my-2">
                <div class="col-md-1">
                  <button nbButton ghost status="primary" routerLink="../customer"><nb-icon icon="arrow-back-outline"></nb-icon></button>
                </div>
                <div class="col-md-10">
                  <h4 class="text-center">Cadastro de Cliente</h4>
                </div>
              </div>
            </nb-card-header>

            <nb-card-body class="mx-4">
              <nb-stepper orientation="horizontal">
                <!-- Part 1 -->
                <nb-step [label]="labelOne">
                  <ng-template #labelOne>Dados Pessoais</ng-template>
                  <div class="row">
                      <nb-radio-group [(ngModel)]="option">
                        <nb-radio
                          *ngFor="let option of typeCustomer"
                          [value]="option.value"
                          >
                          {{ option.label }}
                        </nb-radio>
                      </nb-radio-group>
                    <!-- <form [formGroup]="formCustomer"> -->
                    <!-- Input Name -->
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="label">Nome:</label>
                        <input type="text" nbInput class="form-control" placeholder="Nome" fullWidth [formControl]="nome"
                        [ngClass]="{'status-danger':nome.invalid && (nome.dirty || nome.touched),
                                    'status-success':nome.valid}">
                        <p class="caption status-danger" *ngIf="nome.invalid && (nome.dirty || nome.touched)">Nome é obrigatório</p>
                      </div>
                    </div>
                    <!-- Input Email -->
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="label">E-mail:</label>
                        <input type="email" nbInput class="form-control" placeholder="E-mail" fullWidth [formControl]="email" 
                        [ngClass]="{'status-danger':email.invalid && (email.dirty || email.touched),
                                    'status-success':email.valid}">
                        <p class="caption status-danger" *ngIf="email.invalid && (email.dirty || email.touched)">Email Inválido</p>
                      </div>
                    </div>
                    <!-- Input Fone -->
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="label">Fone:</label>
                        <input type="text" nbInput class="form-control" placeholder="Fone" fullWidth [formControl]="fone"
                        [ngClass]="{'status-danger':fone.invalid && (fone.dirty || fone.touched),
                                    'status-success':fone.valid}">
                        <p class="caption status-danger" *ngIf="fone.invalid && (fone.dirty || fone.touched)">Fone é obrigatório</p>
                      </div>
                    </div>
                    <!-- Input CPF -->
                    <div class="col-md-4" *ngIf="option==='cf'">
                      <div class="form-group" >
                        <label class="label">CPF:</label>
                        <input type="text" nbInput class="form-control" placeholder="CPF" fullWidth [formControl]="cpf"
                        [ngClass]="{'status-danger':cpf.invalid && (cpf.dirty || cpf.touched),
                                    'status-success':cpf.valid}">
                        <p class="caption status-danger" *ngIf="cpf.invalid && (cpf.dirty || cpf.touched)">CPF é obrigatório</p>
                      </div>
                    </div>
                    <!-- Input CNPJ -->
                    <div class="col-md-4"  *ngIf="option==='cj'">
                      <div class="form-group"> 
                        <label class="label">CNPJ:</label>
                        <input type="text" nbInput class="form-control" placeholder="CNPJ" fullWidth [formControl]="cnpj"
                        [ngClass]="{'status-danger':cnpj.invalid && (cnpj.dirty || cnpj.touched),
                                    'status-success':cnpj.valid}">
                        <p class="caption status-danger" *ngIf="cnpj.invalid && (cnpj.dirty || cnpj.touched)">CNPJ é obrigatório</p>
                      </div>
                    </div>
                    <!-- Input Date -->
                    <div class="col-md-4" *ngIf="option==='cf'">
                      <label class="label">Data de Nascimento:</label>
                      <input nbInput placeholder="Data de Nascimento" [nbDatepicker]="dateTimePicker" fullWidth 
                      [formControl]="dt_nascimento"
                      [ngClass]="{'status-danger':dt_nascimento.invalid && (dt_nascimento.dirty || dt_nascimento.touched),
                                  'status-success':dt_nascimento.valid}">
                      <p class="caption status-danger" *ngIf="dt_nascimento.invalid && (dt_nascimento.dirty || dt_nascimento.touched)">Data de Nascimento é obrigatório</p>
                      <nb-datepicker #dateTimePicker></nb-datepicker>
                    </div>
                    <!-- </form> -->
                  </div>
                  <div class="row d-flex justify-content-center mt-4">
                    <div class="col-2">
                      <button nbButton routerLink="../customer">Voltar</button>
                    </div>
                    <div class="col-2">
                      <button nbButton nbStepperNext status="primary">Avançar</button>
                    </div>
                  </div>
                </nb-step>
                
                <!-- Part 2 -->
                <nb-step [label]="labelTwo">
                  <ng-template #labelTwo>Endereço</ng-template>
                  <div class="row">
                    <div class="col-md-2">
                      <div class="form-group">
                        <label class="label">CEP:</label>
                        <input type="text" nbInput class="form-control" placeholder="CEP" fullWidth [formControl]="cep"
                        [ngClass]="{'status-danger':cep.invalid && (cep.dirty || cep.touched),
                                    'status-success':cep.valid}">
                        <p class="caption status-danger" *ngIf="cep.invalid && (cep.dirty || cep.touched)">CEP é obrigatório</p>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="form-group">
                        <label class="label">Logradouro:</label>
                        <input type="text" nbInput class="form-control" placeholder="Logradouro" fullWidth [formControl]="logradouro"
                        [ngClass]="{'status-danger':logradouro.invalid && (logradouro.dirty || logradouro.touched),
                                    'status-success':logradouro.valid}">
                        <p class="caption status-danger" *ngIf="logradouro.invalid && (logradouro.dirty || logradouro.touched)">Logradouro é obrigatório</p>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group">
                        <label class="label">UF:</label>
                        <input type="text" nbInput class="form-control" placeholder="UF" fullWidth [formControl]="uf"
                        [ngClass]="{'status-danger':uf.invalid && (uf.dirty || uf.touched),
                                    'status-success':uf.valid}">
                        <p class="caption status-danger" *ngIf="uf.invalid && (uf.dirty || uf.touched)">UF é obrigatório</p>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group" >
                        <label class="label">Bairro:</label>
                        <input type="text" nbInput class="form-control" placeholder="Bairro" fullWidth [formControl]="bairro"
                        [ngClass]="{'status-danger':bairro.invalid && (bairro.dirty || bairro.touched),
                                    'status-success':bairro.valid}">
                        <p class="caption status-danger" *ngIf="bairro.invalid && (bairro.dirty || bairro.touched)">Bairro é obrigatório</p>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group"> 
                        <label class="label">Número:</label>
                        <input type="text" nbInput class="form-control" placeholder="Número" fullWidth [formControl]="numero"
                        [ngClass]="{'status-danger':numero.invalid && (numero.dirty || numero.touched),
                                    'status-success':numero.valid}">
                        <p class="caption status-danger" *ngIf="numero.invalid && (numero.dirty || numero.touched)">Número é obrigatório</p>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group"> 
                        <label class="label">Complemento:</label>
                        <input type="text" nbInput class="form-control" placeholder="Complemento" fullWidth [formControl]="complemento"
                        [ngClass]="{'status-danger':complemento.invalid && (complemento.dirty || complemento.touched),
                                    'status-success':complemento.valid}">
                        <p class="caption status-danger" *ngIf="complemento.invalid && (complemento.dirty || complemento.touched)">Complemento é obrigatório</p>
                      </div>
                    </div>
                  </div>
                  <div class="row d-flex justify-content-center mt-4">
                    <div class="col-2">
                      <button nbButton nbStepperPrevious>Voltar</button>
                    </div>
                    <div class="col-2">
                      <button nbButton nbStepperNext status="primary">Avançar</button>
                    </div>
                  </div>
                </nb-step>

                <!-- Part 3 -->
                <nb-step label="Finalização">
                  <h4 class="text-center text-success">Finalização</h4>
                  <p class="lorem text-center text-success">
                    Acesse a tabela de clientes para mais informações
                  </p>
                  <div class="row d-flex justify-content-center mt-4">
                    <div class="col-2">
                      <button type="submit" nbButton nbStepperNext status="success" fullWidth>Finalizar</button>
                    </div>
                  </div>
                  
                </nb-step>
              </nb-stepper>
            </nb-card-body>
          </nb-card>

    </nb-layout-column>
  
</nb-layout>
