<nb-card>
  <nb-card-header>
    <div class="row my-2">
      <div class="col-md-1">
        <button nbButton ghost status="primary" routerLink="../customer"><nb-icon icon="arrow-back-outline"></nb-icon></button>
      </div>
      <div class="col-md-10">
        <h4 class="text-center">Cadastro de Cliente</h4>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body class="mx-4">
    <nb-stepper orientation="horizontal" [linear]="linearMode">
      <nb-step [label]="labelOne" [stepControl]="customerForm">
        <nb-radio-group [(ngModel)]="option">
          <nb-radio
            *ngFor="let option of typeCustomer"
            [value]="option.value"
            >
            {{ option.label }}
          </nb-radio>
        </nb-radio-group>
        <form [formGroup]="customerForm" class="step-container">
          <ng-template #labelOne>Dados Pessoais</ng-template>
          <div class="row">  
            <div class="col-md-4">
              <div class="form-group">
                <label class="label">Nome:</label>
                <input type="text" nbInput class="form-control" placeholder="Nome" fullWidth formControlName="nome"
                [ngClass]="{'status-danger':customerForm.controls.nome.invalid && (customerForm.controls.nome.dirty || customerForm.controls.nome.touched),
                            'status-success':customerForm.controls.nome.valid}">
                <p class="caption status-danger" *ngIf="customerForm.controls.nome.invalid && (customerForm.controls.nome.dirty || customerForm.controls.nome.touched)">Nome é obrigatório</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="label">E-mail:</label>
                <input type="email" nbInput class="form-control" placeholder="E-mail" fullWidth formControlName="email" 
                [ngClass]="{'status-danger':customerForm.controls.email.invalid && (customerForm.controls.email.dirty || customerForm.controls.email.touched),
                            'status-success':customerForm.controls.email.valid}">
                <p class="caption status-danger" *ngIf="customerForm.controls.email.invalid && (customerForm.controls.email.dirty || customerForm.controls.email.touched)">Email Inválido</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="label">Fone:</label> 
                <input type="text" nbInput class="form-control" placeholder="Fone" fullWidth formControlName="fone" mask="(00) 00000-0000"
                [ngClass]="{'status-danger':customerForm.controls.fone.invalid && (customerForm.controls.fone.dirty || customerForm.controls.fone.touched),
                            'status-success':customerForm.controls.fone.valid}">
                <p class="caption status-danger" *ngIf="customerForm.controls.fone.invalid && (customerForm.controls.fone.dirty || customerForm.controls.fone.touched)">Fone é obrigatório</p>
              </div>
            </div>
            <div class="col-md-4" *ngIf="option==='cf'">
              <div class="form-group" >
                <label class="label">CPF:</label>
                <input type="text" nbInput class="form-control" placeholder="CPF" fullWidth formControlName="cpf" mask="000.000.000-00"
                [ngClass]="{'status-danger':customerForm.controls.cpf.invalid && (customerForm.controls.cpf.dirty || customerForm.controls.cpf.touched),
                            'status-success':customerForm.controls.cpf.valid}">
                <p class="caption status-danger" *ngIf="customerForm.controls.cpf.invalid && (customerForm.controls.cpf.dirty || customerForm.controls.cpf.touched)">CPF é obrigatório</p>
              </div>
            </div>
            <div class="col-md-4"  *ngIf="option==='cj'">
              <div class="form-group"> 
                <label class="label">CNPJ:</label>
                <input type="text" nbInput class="form-control" placeholder="CNPJ" fullWidth formControlName="cnpj" mask="00.000.000/0000-00"
                [ngClass]="{'status-danger':customerForm.controls.cnpj.invalid && (customerForm.controls.cnpj.dirty || customerForm.controls.cnpj.touched),
                            'status-success':customerForm.controls.cnpj.valid}">
                <p class="caption status-danger" *ngIf="customerForm.controls.cnpj.invalid && (customerForm.controls.cnpj.dirty || customerForm.controls.cnpj.touched)">CNPJ é obrigatório</p>
              </div>
            </div>
            <div class="col-md-4" *ngIf="option==='cf'">
              <label class="label">Data de Nascimento:</label>
              <input nbInput placeholder="Data de Nascimento" [nbDatepicker]="dateTimePicker" fullWidth 
              formControlName="dt_nascimento"
              [ngClass]="{'status-danger':customerForm.controls.dt_nascimento.invalid && (customerForm.controls.dt_nascimento.dirty || customerForm.controls.dt_nascimento.touched),
                          'status-success':customerForm.controls.dt_nascimento.valid}">
              <p class="caption status-danger" *ngIf="customerForm.controls.dt_nascimento.invalid && (customerForm.controls.dt_nascimento.dirty || customerForm.controls.dt_nascimento.touched)">Data de Nascimento é obrigatório</p>
              <nb-datepicker #dateTimePicker></nb-datepicker>
            </div>
          </div>
          <div class="row d-flex justify-content-center mt-4">
            <div class="col-2">
              <button nbButton routerLink="../customer">Voltar</button>
            </div>
            <div class="col-2">
              <button nbButton nbStepperNext status="primary" [disabled]="!customerForm.valid">Avançar</button>
            </div>
          </div>
        </form>
      </nb-step>
      
      <nb-step [label]="labelTwo">
        <ng-template #labelTwo>Endereço</ng-template>
        <app-address-form (formAddress) = "getAddressForm($event)"></app-address-form>
      </nb-step>

      <nb-step label="Finalização">
        <h4 class="text-center text-success">Finalização</h4>
        <p class="lorem text-center text-success">
          Acesse a tabela de clientes para mais informações
        </p>
        <div class="row d-flex justify-content-center mt-4">
          <div class="col-2">
            <button type="submit" nbButton nbStepperNext status="success" (click)="submitForm()" fullWidth>Finalizar</button>
          </div>
        </div>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>
