<nb-card>
    <nb-card-header>
        <div class="row my-2">
            <div class="col-md-1">
                <button nbButton ghost status="primary" routerLink="../plans"><nb-icon icon="arrow-back-outline"></nb-icon></button>
            </div>
            <div class="col-md-10">
                <h4 class="text-center">Cadastro de Plano</h4>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body class="mx-4">
        <form [formGroup]="plansForm">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="label">Nome do Plano:</label>
                        <input type="text" nbInput class="form-control" placeholder="Nome"
                        formControlName="nome" 
                        [ngClass]="{'status-danger': plansForm.controls.nome.invalid && (plansForm.controls.nome.dirty || plansForm.controls.nome.touched),
                                    'status-success':plansForm.controls.nome.valid}"
                        fullWidth>
                        <p class="caption status-danger" *ngIf="plansForm.controls.nome.invalid && (plansForm.controls.nome.dirty || plansForm.controls.nome.touched)">Nome é obrigatório</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="label">Recorrencia:</label>
                        <input type="text" nbInput class="form-control" placeholder="R$ 0,00"
                        formControlName="recorrencia"
                        [ngClass]="{'status-danger':plansForm.controls.recorrencia.invalid && (plansForm.controls.recorrencia.dirty || plansForm.controls.recorrencia.touched),
                                    'status-success':plansForm.controls.recorrencia.valid}"
                        fullWidth>
                        <p class="caption status-danger" *ngIf="plansForm.controls.recorrencia.invalid && (plansForm.controls.recorrencia.dirty || plansForm.controls.recorrencia.touched)">Recorrência Inválido</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="label">Valor:</label>
                        <input type="text" nbInput class="form-control" placeholder="R$ 0,00"
                        formControlName="valor"
                        [ngClass]="{'status-danger':plansForm.controls.valor.invalid && (plansForm.controls.valor.dirty || plansForm.controls.valor.touched),
                                    'status-success':plansForm.controls.valor.valid}"
                        fullWidth>
                        <p class="caption status-danger" *ngIf="plansForm.controls.valor.invalid && (plansForm.controls.valor.dirty || plansForm.controls.valor.touched)">Valor Inválido</p>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="form-group">
                        <label class="label">Detalhes:</label>
                        <input type="text" nbInput class="form-control" placeholder="Detalhes aqui..."
                        formControlName="detalhes" fullWidth>
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="label">Tipo de Plano:</label>
                    <nb-select placeholder="Tipo de Plano" fullWidth formControlName="tipoplano"
                    [ngClass]="{'status-danger':plansForm.controls.tipoplano.invalid && (plansForm.controls.tipoplano.dirty || plansForm.controls.tipoplano.touched),
                                'status-success':plansForm.controls.tipoplano.valid}">
                        <nb-option *ngFor="let type of PlansType" [value]="type.value">{{ type.label }}</nb-option>
                    </nb-select>
                    <p class="caption status-danger" *ngIf="plansForm.controls.tipoplano.invalid && (plansForm.controls.tipoplano.dirty || plansForm.controls.tipoplano.touched)">Tipo de Plano é obrigatório</p>
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-4">
                <div class="col-2 text-center">
                    <button nbButton routerLink="../plans">Voltar</button>
                </div>
                <div class="col-2 text-center">
                    <button nbButton status="success" (click)="submitForm()" [disabled]="!plansForm.valid">Cadastrar</button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>
