<nb-layout>

    <nb-layout-header fixed>
      <app-header></app-header>
    </nb-layout-header>
  
    <nb-sidebar>
      <app-menu></app-menu>
    </nb-sidebar>
  
    <nb-layout-column>

      <nb-card>
        <nb-card-body>
          <div class="row">
            <div class="col-md-10 offset-md-1">
              <h4 class="text-center">
                Clientes
              </h4>
            </div>
            <div class="col-md-1">
              <!-- Cadastro de cliente -->
              <button nbButton ghost status="primary" routerLink="../create-customer"><nb-icon icon="person-add-outline"></nb-icon></button>  
            </div>
                      
          </div>
          
          <mat-form-field>
            <mat-label>Filtro</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Grapefy" #input>
          </mat-form-field>
          
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
          
              <!-- ID Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let row"> {{row.id_cliente}} </td>
              </ng-container>
          
              <!-- Name Column -->
              <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
                <td mat-cell *matCellDef="let row"> {{row.nome}} </td>
              </ng-container>

                <!-- Email Column -->
                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </th>
                  <td mat-cell *matCellDef="let row"> {{row.email}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Ações </th>
                  <td mat-cell *matCellDef="let row"> 
                    <!-- Edit de cliente -->
                    <button nbButton ghost status="primary" routerLink="../info-customer/{{ row.id_cliente }}">
                      <nb-icon icon="more-horizontal-outline"></nb-icon>
                    </button>  
                    <!-- Delete de cliente -->
                    <button nbButton ghost status="danger" (click)="open(dialog, row.nome, row.id_cliente)">
                      <nb-icon icon="trash-2-outline"></nb-icon>
                    </button>
                  </td>
                </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">Nenhum resultado encontrado com "{{input.value}}"</td>
              </tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 25,50]"></mat-paginator>
          </div>
          
        </nb-card-body>
      </nb-card>

    </nb-layout-column>
  
  </nb-layout>

<!-- Modal Delete -->
  <ng-template #dialog let-data let-ref="dialogRef" >
    <nb-card>
      <nb-card-header>Excluir Cliente</nb-card-header>
      <nb-card-body>Deseja excluir o cliente: <strong> {{ selectedName }} ({{ selectedId }})</strong>? </nb-card-body>
      <nb-card-footer>
        <div class="row">
          <div class="col">
            <button nbButton (click)="ref.close()">Voltar</button>
          </div>
          <div class="col">
            <button nbButton (click)="submitDelete()" status="danger">Excluir</button>
          </div>  
        </div> 
      </nb-card-footer>
    </nb-card>
  </ng-template>