<div class="row my-2">
  <div class="col-md-1">
    <a nbButton ghost status="primary" routerLink="../"><nb-icon icon="arrow-back-outline"></nb-icon></a>
  </div>
  <div class="col-md-10">
    <h4 class="text-center">Novo Serviço</h4>
  </div>
</div>
<div class="row my-4">
  <p><strong>Cliente:</strong> {{ nameCustomer }}</p>
</div>

<div class="row">
  <nb-card>
    <nb-card-body>
        <form [formGroup]="serviceCustomerForm">
            <div class="row">  
              <div class="col-md-4">
                <div class="form-group">
                    <label class="label">Serviço:</label>
                    <nb-select placeholder="Serviço" formControlName="servico" fullWidth 
                    [ngClass]="{'status-danger':serviceCustomerForm.controls.servico.invalid && (serviceCustomerForm.controls.servico.dirty || serviceCustomerForm.controls.servico.touched),
                                'status-success':serviceCustomerForm.controls.servico.valid}">
                    <nb-option *ngFor="let service of services" [value]="service.id">{{ service.nome }}</nb-option>
                    </nb-select>
                  <p class="caption status-danger" *ngIf="serviceCustomerForm.controls.servico.invalid && (serviceCustomerForm.controls.servico.dirty || serviceCustomerForm.controls.servico.touched)">Serviço é obrigatório</p>
                </div>
              </div>
              <div class="col-md-4">
                  <label class="label">Data de Adesão:</label>
                  <input nbInput placeholder="Data de Adesão" [nbDatepicker]="dateTimePicker" fullWidth 
                  formControlName="dt_adesao"
                  [ngClass]="{'status-danger':serviceCustomerForm.controls.dt_adesao.invalid && (serviceCustomerForm.controls.dt_adesao.dirty || serviceCustomerForm.controls.dt_adesao.touched),
                  'status-success':serviceCustomerForm.controls.dt_adesao.valid}">
                  <p class="caption status-danger" *ngIf="serviceCustomerForm.controls.dt_adesao.invalid && (serviceCustomerForm.controls.dt_adesao.dirty || serviceCustomerForm.controls.dt_adesao.touched)">Data de Adesão é obrigatório</p>
                  <nb-datepicker #dateTimePicker></nb-datepicker>
                </div>
                <div class="col-md-4">
                    <label class="label">Previsão de Entrega:</label>
                    <input nbInput placeholder="Data de Entrega" [nbDatepicker]="dateTimePicker2" fullWidth 
                    formControlName="dt_entrega"
                    [ngClass]="{'status-danger':serviceCustomerForm.controls.dt_entrega.invalid && (serviceCustomerForm.controls.dt_entrega.dirty || serviceCustomerForm.controls.dt_entrega.touched),
                    'status-success':serviceCustomerForm.controls.dt_entrega.valid}">
                    <p class="caption status-danger" *ngIf="serviceCustomerForm.controls.dt_entrega.invalid && (serviceCustomerForm.controls.dt_entrega.dirty || serviceCustomerForm.controls.dt_entrega.touched)">Data de Entrega é obrigatório</p>
                    <nb-datepicker #dateTimePicker2></nb-datepicker>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="label">Valor Estimado:</label> 
                    <input type="text" nbInput class="form-control" currencyMask placeholder="Valor " fullWidth formControlName="valor_final"
                    [ngClass]="{'status-danger':serviceCustomerForm.controls.valor_final.invalid && (serviceCustomerForm.controls.valor_final.dirty || serviceCustomerForm.controls.valor_final.touched),
                                'status-success':serviceCustomerForm.controls.valor_final.valid}">
                    <p class="caption status-danger" *ngIf="serviceCustomerForm.controls.valor_final.invalid && (serviceCustomerForm.controls.valor_final.dirty || serviceCustomerForm.controls.valor_final.touched)">Valor Estimado é obrigatório</p>
                  </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-4">
              <div class="col-2">
                <button nbButton routerLink="../">Cancelar</button>
              </div>
              <div class="col-2">
                <button nbButton  status="success" [disabled]="!serviceCustomerForm.valid">Cadastrar</button>
              </div>
            </div>
        </form>
    </nb-card-body>
  </nb-card>
</div>


