<nb-card>
  <nb-card-header>
    <div class="row my-2">
      <div class="col-md-1">
        <button nbButton ghost status="primary" routerLink="/service"><nb-icon icon="arrow-back-outline"></nb-icon></button>
      </div>
      <div class="col-md-10">
        <h4 class="text-center">Informações de Serviço</h4>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body class="mx-4">
    <form [formGroup]="serviceEditForm" *ngIf="serviceEditForm">
      <div class="row">
          <div class="col-md-4">
            <div class="form-group">
                <label class="label">Nome do Serviço:</label>
                <input type="text" nbInput class="form-control" value="Nome" formControlName="nome" fullWidth>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
                <label class="label">Valor:</label>
                <input type="text" nbInput class="form-control" value="R$ 800,00" formControlName="valor" fullWidth>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group" >
                <label class="label">Setor:</label>
                <nb-select placeholder="Setor" formControlName="setor" fullWidth>
                <nb-option *ngFor="let sector of Sectors" [value]="sector.value">{{ sector.label }}</nb-option>
                </nb-select>
            </div>
          </div>
          <div class="form-group">
              <label class="label">Descrição:</label>
              <textarea nbInput fullWidth placeholder="Descreva sobre o cargo." formControlName="descricao"></textarea>
          </div>
      </div>
      <div class="row d-flex justify-content-center mt-4">
        <div class="col-2 text-center">
          <button nbButton routerLink="/service">Voltar</button>
        </div>
        <div class="col-2 text-center">
          <button nbButton status="success" (click)="submitForm()" [disabled]="!serviceEditForm.valid">Editar</button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>


