<div class="row mb-4">
    <div class="col-md-10 offset-md-1">
        <h4 class="text-center">
            Planos para clientes
        </h4>
    </div>
    <div class="col-md-1">
        <button nbButton hero status="success" routerLink="../create-plan-business"><nb-icon icon="plus-outline"></nb-icon></button>            
    </div>
</div>
<div class="card-row">
    <div class="card-col">
        <nb-card>
        <nb-card-header>Sites</nb-card-header>
        <nb-card-body>
            <nb-accordion multi>
                <nb-accordion-item  *ngFor="let pSite of planosSite" >
                    <nb-accordion-item-header>
                        {{ pSite.nome }}
                    </nb-accordion-item-header>
                    <nb-accordion-item-body>
                    <p>
                        <strong>Recorrencia:</strong> {{ pSite.recorrencia }}   
                    </p>
                    <p>
                        <strong>Valor:</strong> R$ {{ pSite.valor }}
                    </p>
                    <p>
                    <strong>Detalhes:</strong>
                    <br>
                    {{pSite.detalhes}}    
                    </p>
                    <div class="row">
                        <button nbButton outline status="primary" routerLink="../edit-plans/{{ pSite.id }}" class="mb-2"><nb-icon icon="edit-outline"></nb-icon></button>  
                        <button nbButton outline status="danger" (click)="openDelete(dialog, pSite.nome, pSite.id)"><nb-icon icon="trash-2-outline"></nb-icon></button>
                    </div>
                    </nb-accordion-item-body>
                </nb-accordion-item>
            </nb-accordion>
        </nb-card-body>
        </nb-card>
    </div>
    <div class="card-col">
        <nb-card>
        <nb-card-header>Sistemas</nb-card-header>
        <nb-card-body>
            <nb-accordion multi>
                <nb-accordion-item  *ngFor="let pSistema of planosSistema" >
                    <nb-accordion-item-header>
                        {{ pSistema.nome }}
                    </nb-accordion-item-header>
                    <nb-accordion-item-body>
                    <p>
                        <strong>Recorrencia:</strong> {{ pSistema.recorrencia }}   
                    </p>
                    <p>
                        <strong>Valor:</strong> R$ {{ pSistema.valor }}
                    </p>
                    <p>
                    <strong>Detalhes:</strong>
                    <br>
                    {{pSistema.detalhes}}    
                    </p>
                    <div class="row">
                        <button nbButton outline status="primary" routerLink="../edit-plans/{{ pSistema.id }}" class="mb-2"><nb-icon icon="edit-outline"></nb-icon></button>  
                        <button nbButton outline status="danger" (click)="openDelete(dialog, pSistema.nome, pSistema.id)"><nb-icon icon="trash-2-outline"></nb-icon></button>
                    </div>
                    </nb-accordion-item-body>
                </nb-accordion-item>
            </nb-accordion>
        </nb-card-body>
        </nb-card>
    </div>
</div>

<ng-template #dialog let-data let-ref="dialogRef" >
    <app-modal-delete [componentSelected]="selectedPlan" [idSelected]="selectedId" nameComponent="Plano">
      <div class="col text-center">
        <button nbButton (click)="ref.close()">Voltar</button>
      </div>
      <div class="col text-center">
        <button nbButton (click)="submitDelete(selectedId)" status="danger">Excluir</button>
      </div>     
    </app-modal-delete>
</ng-template>
        