<nb-layout>
    <nb-layout-header fixed>
      <app-header></app-header>
    </nb-layout-header>

    <nb-sidebar>
      <app-menu></app-menu>
    </nb-sidebar>
  
    <nb-layout-column>
        <h4 class="text-center mb-4">
            Planos para clientes
        </h4>
        <div class="card-row">
            <div class="card-col">
                <nb-card size="medium">
                <nb-card-header>Sites</nb-card-header>
                <nb-card-body>
                    <nb-accordion multi>
                        <nb-accordion-item  *ngFor="let pSite of planosSite" >
                            <nb-accordion-item-header>
                                {{ pSite.nome }}
                            </nb-accordion-item-header>
                            <nb-accordion-item-body>
                            <p>
                                <strong>Recorrencia:</strong> {{ pSite.recorrencia }}   
                            </p>
                            <p>
                                <strong>Valor:</strong> R$ {{ pSite.valor }}
                            </p>
                            <p>
                            <strong>Detalhes:</strong>
                            <br>
                            {{pSite.detalhes}}    
                            </p>
                            </nb-accordion-item-body>
                        </nb-accordion-item>
                    </nb-accordion>
                </nb-card-body>
                </nb-card>
            </div>
            <div class="card-col">
                <nb-card size="medium">
                <nb-card-header>Sistemas</nb-card-header>
                <nb-card-body>
                    <nb-accordion multi>
                        <nb-accordion-item  *ngFor="let pSistema of planosSistema" >
                            <nb-accordion-item-header>
                                {{ pSistema.nome }}
                            </nb-accordion-item-header>
                            <nb-accordion-item-body>
                            <p>
                                <strong>Recorrencia:</strong> {{ pSistema.recorrencia }}   
                            </p>
                            <p>
                                <strong>Valor:</strong> R$ {{ pSistema.valor }}
                            </p>
                            <p>
                            <strong>Detalhes:</strong>
                            <br>
                            {{pSistema.detalhes}}    
                            </p>
                            </nb-accordion-item-body>
                        </nb-accordion-item>
                    </nb-accordion>
                </nb-card-body>
                </nb-card>
            </div>
        </div>
    </nb-layout-column>
  
</nb-layout>
